body {
  font-family: "Open Sans", sans-serif;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

p {
  color: teal;
}

* {
  color: tomato;
}

#text {
  color: purple;
}

#text1 {
  color: purple;
}

.text,
.header-link {
  color: violet;
}

.header-list.list {
}

.header-list .list {
}

/* [href="https://www.google.com/"]
{
  color: green;
} */

.header-tel + button {
  background-color: blueviolet;
}

/*
 * - Универсальний селектор
 тег
 ID
 класс
 атрибут
 потомка
 ребенка
 соседа

 */
