.contact-wrap {
  background-color: #191c26;
  background-image: url(../images/contacts-bg.png);
  background-repeat: no-repeat;
  background-position: right;
  max-width: 1280px;
  margin: 0 auto;
  background-size: calc(50% - 15px);
  .container {
    display: flex;
  }
}
