.header {
  padding-top: 32px;
  padding-bottom: 32px;
  position: absolute;
  width: 100%;
  .container {
    display: flex;
    align-items: center;
  }
}

.header__logo {
  margin-right: 70px;
}

.menu-list {
  display: flex;
}

.menu-list__item:not(:last-child) {
  margin-right: 40px;
}

.connect {
  margin-left: auto;
}

.menu-list__link,
.connect__tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--header-color);
  transition: color 300ms linear;
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

/* .header-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: #ffffff;
} */

.connect__btn {
  color: var(--first-btn-color);
  margin-left: 40px;
}
