.reasons {
  padding-top: 114px;
  padding-bottom: 137px;
  .container {
    display: flex;
    justify-content: space-between;
  }
}

.reasons-blocks,
.reasons-content {
  width: calc(50% - 15px);
}

.reasons-content {
  padding-top: 9px;
}

.reasons-blocks {
  display: flex;
  justify-content: center;
}

.reasons-list {
  width: 370px;
  display: flex;
  flex-wrap: wrap;
}

.reasons-item {
  width: 170px;
  height: 133px;
  background-color: #f7f7f7;
  padding: 20px 24px;
  &:nth-child(odd) {
    margin-right: 30px;
  }
  &:nth-child(even) {
    margin-top: 30px;
  }
}

.reasons-item-count {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
  color: #303030;
  display: block;
  &::after {
    content: "+";
    font-weight: 600;
    font-size: 16px;
    line-height: 1.38;
    text-align: center;
    color: var(--accent-color);
    display: inline-block;
    vertical-align: top;
  }
}

.reasons-item-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: #303030;
}

.reasons-pre-title {
  color: #303030;
  margin-bottom: var(--typical-gap);
}
.reasons-title {
  color: var(--second-title-color);
  margin-bottom: var(--typical-gap);
}
.reasons-after-title {
  color: #555555;
}
