:root {
  --header-color: #ffffff;
  --first-title-color: #ffffff;
  --second-title-color: #303030;
  --first-btn-color: #ffffff;
  --second-btn-color: #303030;
  --accent-color: #ff6c00;
  --typical-gap: 20px;
}
